.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: 'background.paper';
}

.container {
  background-color: #111010 !IMPORTANT;
  border-bottom: 1px solid #eaecef;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.title{
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  line-height: 1.15;
  font-family: Cursive;
  color: #ff9999;
}

.right{
  display: flex;
  justify-content: flex-end;
    margin-left: auto;
}


.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.left{
  display: flex;
  justify-content: center;
}
.left a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active='true'] {
  color: gray;
}

.a + .a {
  margin-left: 1rem;
}

.p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}